html {
  background: #000000;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dt {
  position: relative;
}

#container{
  background:#000;
  position: relative;
}
#canvas{
  background:#000;
}

#loading {
  color: #ffffff;
  text-align: center;
  position: absolute; 
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

input, select {
  border-radius: 6px;
  border: 1px solid rgb(4, 26, 55);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: 'Comic Sans MS';
  font-size: 2.5vh;
  text-decoration: none;
  text-shadow: rgb(40, 57, 102) 0px 2px 0px;
  text-align: center;
  position: absolute;
  background-color: rgba(55, 75, 118, 0.75);
  left: calc(50% - 13.65%);
  width: 27.25%;
  height: 6%;
}

#toggle_all {
  top: 14%;
}
#toggle_music {
  top: 21%;
}
#toggle_fullscreen {
  top: 33.5%;
}
#resolution_select {
  top: 40.5%;
  width: 12%;
  left: 51.6%;
}
#placeholder_resolution {
  top: 40.5%;
  width: 15%;
}
#restart {
  top: 54%;
}

#apply {
  top: 90%;
}

img {
  position: absolute;
  top: 50%;
  left: 36.5%;
  width: 27%;
}
img:hover {
  cursor: pointer;
}

canvas {
  width: 100vw;
  vertical-align: middle;
  cursor: none;
  z-index: 1;
}
